global-include CMakeLists.txt

recursive-include external *
include ./ *.py
include ./ VERSION
include ./ *.cmake
include ./tests/*.py
include ./tests/*.cpp
include ./ *.cpp
include ./ *.h

exclude benchmark.py

graft include
graft tests
graft resources
graft cmake

prune docs
prune cmake-build*
prune build
prune resources/*.png
prune resources/*.txt

global-exclude *.py[cod]
global-exclude *.git
global-exclude *.js
global-exclude *.html
global-exclude *.png
global-exclude *.dox
global-exclude __pycache__

